Django==3.2.25
django-bootstrap-form==3.4
dj-static==0.0.6
django-extensions==2.1.6
django-widget-tweaks==1.4.3
python-decouple==3.1
pytz==2019.1
six==1.12.0

sqlparse==0.5.0
gunicorn==22.0.0

sqlparse==0.5.0
gunicorn==22.0.0

psycopg2==2.7.4
